@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS */
body{
    width: 100%;
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
    align-content: center;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}


/* Style of Headers */

h1{
		font-size: 5em;
		font-family: arial,helvetica;
        font-weight: normal;
		color: #fff;
        text-align: center;
	}

	.intro p{
		color: #fff;
	}

	
	.section{
		text-align:center;
	}


	#header {
		position:fixed;
		height: 30px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
        opacity: .75;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
    }

/* Animation Coding for Name 
   replacing this with a javacode to make it look like an actual typewriter
 *---------------------------*/
        
.line-1{ 
    padding-left: 30%;
    position: relative;
    top: 45%; 
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    }
    
.anim-typewriter{
  animation: typewriter 3s steps(38) 1.7s 1 normal both,
             blinkTextCursor 700ms steps(30) 0.25s 8 normal;
    }

@keyframes typewriter{
  from{width: 0em;}
  to{width: 7.17em;} 
    }

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
    }
    
